@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    overflow-x: hidden;
}

h1 {
    color: #0A2944;
}

p {
    color: #595B62;
}

header {
    height: 110px;
    flex-shrink: 0;
    background-color: #151C34;
    display: flex;
    justify-content: space-around;
    align-items: center;

    & .menu {
        & ul {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            gap: 60px;

            & a {
                text-decoration: none;
                font-family: 'Lato';
                color: #8C8E96;
            }
        }
    }

    & .translate {
        color: #fff;
        font-family: 'Lato';
    }
}

main {
    padding: 0 320px;
}

.section1 {
    display: flex;
    gap: 40px;
    margin-top: 100px;

    & .text {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        margin-top: 50px;

        & .button {
            width: fit-content;
            display: flex;
            gap: 5px;
            border-bottom: 1px solid #595B62;
        }
    }
}

.section2 {

    display: flex;
    flex-direction: column;

    & h2 {
        color: #0A2944;
        text-align: center;
        font-family: Playfair Display;
        font-size: 36px;
        font-weight: 700;
        line-height: 52px;
    }

    & .list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 40px;
        margin-top: 24px;

        & .list_item {
            & img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}