*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display';
    
}

header{
    background: var(--neutral-1, #151C34);
    width: 1920px;
    height: 110px;
    opacity: 0.8;
    position: fixed;

}
.menu{
    gap: 191px;
    display: flex;
    justify-content: flex-start;
}
.menu__logo{
    width: 130px;
    height: 32px;
    align-content: center;
    padding-top: 29px;
    padding-left: 320px;
   
}
.menu__nav{

    display: flex;
    align-items: center;
    gap: 60px;
    padding-top: 41px;

    
    


   
}
.menu__trans{
    display: flex;
    align-items: center;
    padding: 41px 320px 0px 0px;

}
.btn{
    display: flex;
    text-decoration: none;
    color: #8C8E96;
    font-size: 18px;
}

.fpost{
    gap: 120px;
}

.post__1{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.post__1-img1{
    width: 671px;
    height: 404px;
}
.post__1-content{
    width: 470px;
    height: 192px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.post__1-tag{
    color: var(--secondary-1, #6C7D8C);
    font-family: Playfair Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}
.post__1-text{
    color: var(--primary, #0A2944);
    font-family: Playfair Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    width: 429px;
}
.post-title{
    color: var(--primary, #0A2944);
    text-align: center;

    /* Title/36/Bold */
    font-family: Playfair Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px; /* 144.444% */
    }
.post-short{
    color: var(--secondary-1, #6C7D8C);
    text-align: center;

    /* Title/24/Medium */
    font-family: Playfair Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
}
.post__2-title{
    color: var(--secondary-2, #5168B5);

    /* Title/24/Bold */
    font-family: Playfair Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
}
.post__main-text{
    color: var(--secondary-1, #6C7D8C);

    /* Header/18/Medium */
    font-family: 'Lato';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
}
.post__2{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}

.post__3{
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    justify-content: center;
}
.post__3-title{
    color: var(--primary, #0A2944);

    /* Title/24/Bold */
    font-family: Playfair Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
}
.post__4-title{
    color: var(--primary, #0A2944);

    /* Title/24/Bold */
    font-family: Playfair Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
}

.post__big{
    gap: 40px;
}






body{
    width: 1920px;
    height: 3078px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
main{
    display: flex;
    flex-direction: column;
    gap: 100px;
}



.projectSection{
    padding-left: 320px;
    padding-right: 320px;
}
.projectMain{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.projectPost{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.projectText{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.projectTit{
    color: var(--primary, #0A2944);
    font-family: Playfair Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.projectShort{
    color: var(--primary, #0A2944);
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.5;
}

  
footer{
    width: 1920px;
    height: 252px;
    background: var(--neutral-1, #151C34);
    color: var(--neutral-6, #FFF);
    font-size: 20px;
    line-height: 30px;
    padding-top: 43px;
    padding-bottom: 43px;
    
}
.footer__list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 154px;
}
.footer__col{
    display: flex;
    flex-direction: column;
    padding-top: 43px;
    gap: 37px;
}
.footer__contact{
    padding-top: 52px;
    list-style-type: none;
    gap: 20px;
}
.footer-minilist{
    list-style: none;
    padding-left: 0;
    gap: 48px;
}

.footer__address{
    padding-top: 52px;
    list-style-type: none;
    gap: 20px;
}
.footer-item_icon{
   text-decoration: none;
}
.footer__heading{
    text-decoration: underline;
    color: var(--neutral-6, #FFF);
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Playfair Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 140% */
}

.footer__item-link{
    text-decoration: none;
    color: var(--neutral-5, #F0F0F0);
    font-size: 16px;
    display: flex;
    align-content: center;
}